<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
 
 <!-- com.blog.mapping.blogMapper -->
<mapper namespace="com.blog.idal.IDalBlog">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <!-- 
        根据id查询得到一个user对象
     -->
    <select id="getBlog" 
        resultType="com.blog.entity.blog_tb_blog">
        select * from blog_tb_blog where blogID=#{id}
    </select>
    
    <!-- 获取博客模板页数据 -->
    <select id="getBlogMaster">
         /*博客信息*/
	 select * from blog_tb_blog  where blogID=#{blogID}  ;

	/*获取浏览次数和回复次数*/
     select COUNT(blog_tb_article.articleID) as TotalArticleCount,  IFNULL( sum(articleClickTimes),0) as TotalArticleViewCount,IFNULL(sum(articleCommentTimes),0) as TotalArticleCommentCount from blog_tb_article
	 left join blog_tb_article_extend on blog_tb_article_extend.articleID=blog_tb_article.articleID
	  where blogID=#{blogID}   ;

	  /*获取菜单*/
	select menuUrl, menuDisplay,menuTarget,menuOrder from blog_tb_menu where blogID=#{blogID} and menuIsDisabled=0 	order by menuOrder DESC  ;

	/*获取前10条友情链接列表 */
	select  linkID,blogID,linkName,linkUrl,linkPic,linkOrder,linkIsDisabled,ADD_DATE,UPDATE_DATE from blog_tb_link where blogID=#{blogID} and linkIsDisabled=0 order by linkOrder desc limit 0,10
    </select>
</mapper>